@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
  height: 100vh;
}

/* 
  the following creates vars that would create a dark theme and light them
  for now we will lock it into dark theme
*/
/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

html,
body {
  /* color: var(--foreground); */
  /* background: var(--background); */
  height: 100vh;
  background-color: aliceblue;
}

.gridcontainer {
  display: grid;
  grid-template-rows: 75px 1fr;
  height: 100vh;
}
.wait_times_gridcontainer {
  display: grid;
  grid-template-columns: 250px 1fr;
  height: calc(100vh - 75px);
}

.top-nav {
  position: sticky;
  top: 0px;
}

.overflow {
  overflow: auto;
}

.white-background {
  background-color: white;
}

button {
  @apply p-2;
}
button:hover {
  @apply bg-slate-400 rounded;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
