@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

/* 
  the following creates vars that would create a dark theme and light them
  for now we will lock it into dark theme
*/
/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Courier New", Courier, monospace;
}

a {
  cursor: pointer;
  border-radius: 4px;
  background-color: #171717;
  padding: 0px 10px;
}

button {
  cursor: pointer;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
